body {
    
}

header {
    padding-left: 25px;

}



.principal {
    background-color: #cccccc;
    padding: 30px;
}

#banner {
    width: 100%;
}

h2 {
    font-size: 30px;
}

.textoAlinhado {
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size: 20px;
}
.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#imgbeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;;
}

footer p {
    color: #ffffff;  
    text-align: center;
    font-size: 13px;
}